#dash {
  max-width: 1500px;
  background-color: #F2F8FF;
}

#region-info {
  margin-top: 3%;
}

body {
  background-color: #F2F8FF;
  margin-bottom: 10%;
}

.plot {
  height: 400px;
}

input[type="radio"] {
  margin-left: 10px;
  margin-right: 2px;
}